<div class="successMessage" ng-show="successMessage"><span><i class="material-icons md-36">check</i>{{successMessage}}</span></div>
<div class="errorMessage" ng-show="errorMessage"><span><i class="material-icons md-36">error</i>{{errorMessage}}</span></div>
<div class="pw-wrapper">
	<md-content class="pw-wrapper--content">	
		<md-toolbar class="pw-wrapper--content--header md-accent" >
			<div class="md-toolbar-tools">
		      	<h2>
		        	Edit Password: {{password.name}}
		      	</h2>		      	
	        </div>
	    </md-toolbar>

	    <md-toolbar class="pw-wrapper--content--list md-accent md-hue-2" >
		    <md-list>
		      	<md-list-item class="md-3-line">        
			        <div class="md-list-item-text" layout="column">
			        	<form novalidate class="simple-form">
				        	<div class="item">
					          	<label>Name:</label>	      
							    <input type="text" class="form-control input-field" ng-model="password.name">				      
							</div><!-- /item -->

							<div class="item">
					          	<label>Userame:</label>	      
							    <input type="text" class="form-control input-field" ng-model="password.username">					      
							</div><!-- /item -->

							<div class="item">
							    <label>Password:</label>							      
							    <input type="password" class="form-control input-field" ng-model="password.password">					    
							</div><!-- /item -->

							<div class="item">
							    <label>Notes:</label>	      
							    <input type="text" class="form-control input-field" ng-model="password.notes">							      
							</div><!-- /item -->
							
							<div class="item">
								<div class="create-edit" >
									<md-button class="create-edit--button md-accent md-raised md-hue-3" ng-click="edit()">Edit</md-button>
								</div>
							</div><!-- /item -->
						</form>				
			        </div>
		      	</md-list-item>
		    </md-list>
	    </md-toolbar>	    
    </md-content>
</div>
