<div class="successMessage" ng-show="successMessage">{{successMessage}}</div>
<div class="errorMessage" ng-show="errorMessage">{{errorMessage}}</div>
<div class="pw-wrapper">
	<md-content>	
		<md-toolbar class="list-header md-accent" >
			<div class="md-toolbar-tools">
		      	<h2>
		        	Edit Password: {{password.name}}
		      	</h2>		      	
	        </div>
	    </md-toolbar>

	    <md-list>
	      	<md-list-item class="md-3-line">        
		        <div class="md-list-item-text" layout="column">
		        	<form novalidate class="simple-form">
			        	<div class="item">
				          	<label>Name:</label>	      
						      <input type="text" class="form-control input-field" ng-model="password.name">					      
						</div><!-- /item -->

						<div class="item">
				          	<label>Userame:</label>	      
						      <input type="text" class="form-control input-field" ng-model="password.username">					      
						</div><!-- /item -->

						<div class="item">
						    <label>Password:</label>							      
						    <input type="password" class="form-control input-field" ng-model="password.password">					    
						</div><!-- /item -->

						<div class="item">
						    <label>Notes:</label>	      
						      <input type="text" class="form-control input-field" ng-model="password.notes">
						      </span>
						</div><!-- /item -->

						<div class="create-button" >
							<md-button class="md-accent md-raised md-hue-1" ng-click="edit()">Edit</md-button>
						</div>
					</form>				
		        </div>
	      	</md-list-item>
	      
	    </md-list>
    </md-content>
</div>
