<div ng-cloak class="message success" ng-show="successMessage">
	<span><i class="fa fa-check-circle fa-2x message__i"></i> {{successMessage}}</span>
</div>

<div ng-show="form.$submitted">
	<div ng-cloak class="message error" ng-show="form.name.$error.required">
		<span><i class="fa fa-exclamation-circle fa-2x message__i"></i> Name is required!</span>		
	</div>

	<div ng-cloak class="message error" ng-show="form.name.$error.name-directive">
		<span><i class="fa fa-exclamation-circle fa-2x message__i"></i> This username is already taken!</span>		
	</div>
</div>

<div class="pw-wrapper">
	<md-content class="pw-wrapper__content">	
		<md-toolbar class="pw-wrapper__content__header md-accent" >
			<div class="md-toolbar-tools">
		      	<h2>
		        	Edit Password: {{password.name}}
		      	</h2>		      	
	        </div>
	    </md-toolbar>

	    <md-toolbar class="pw-wrapper__content__list md-accent md-hue-2">
		    <md-list>
		      	<md-list-item class="md-3-line">        
			        <div class="md-list-item-text" layout="column">
			        	<form novalidate name="form" class="pw-wrapper__content__list__form">
				        	<div class="item">
					          	<label>Name:</label>	      
							    <input type="text" name="name" class="form-control pw-wrapper__content__list__input-field" ng-model="password.name" required name-directive>				      
							</div><!-- /item -->

							<div class="item">
					          	<label>Userame:</label>	      
							    <input type="text" class="form-control pw-wrapper__content__list__input-field" ng-model="password.username">					      
							</div><!-- /item -->

							<div class="item">
							    <label>Password:</label>							      
							    <input type="password" class="form-control pw-wrapper__content__list__input-field" ng-model="password.password">					    
							</div><!-- /item -->

							<div class="item">
							    <label>Notes:</label>	      
							    <input type="text" class="form-control pw-wrapper__content__list__input-field" ng-model="password.notes">							      
							</div><!-- /item -->
							
							<div class="item">
								<div class="create-edit" >
									<md-button type="submit" class="create-edit__button md-accent md-raised md-hue-3" ng-click="form.$valid && edit()">Edit</md-button>
								</div>
							</div><!-- /item -->
						</form>				
			        </div>
		      	</md-list-item>
		    </md-list>
	    </md-toolbar>	    
    </md-content>
</div><!-- Ends pw-wrapper -->
