<md-input-container class="md-block search" flex-gt-sm>
	<input ng-model="search.name" placeholder="Search by name">
</md-input-container>

<md-toolbar class="found-items md-primary md-hue-1">
	<h3 ng-if="!passwords.length">
		<span>You dont have any passwords at the moment. Create your first password</span>
		<md-button class="md-fab md-mini md-warn" title="Create" href="#/create-password">
            <md-icon><i class="material-icons md-24">add</i></md-icon>
        </md-button>
	</h3>
  	<h2 ng-if="passwords.length" class="md-toolbar-tools">
    	<span>Found {{(passwords | filter:search).length}} of {{passwords.length}} passwords</span>
  	</h2>
</md-toolbar>

<div class="pw-wrapper">
	<md-content class="pw-wrapper--content" ng-repeat="password in passwords | filter:search | orderBy:'-id'">
		<md-toolbar class="pw-wrapper--content--header md-accent" >
			<div class="md-toolbar-tools">
		      	<h2>
		        	{{ password.name }}
		      	</h2>
		      	<span flex></span> 
		      	<md-button class="md-fab md-mini md-warn md-raised" title="Edit" href="#/edit-password/{{password.id}}">
	                <md-icon><i class="material-icons md-24">edit</i></md-icon>
	            </md-button>
	            <md-button class="md-fab md-mini md-warn md-raised" title="Delete" ng-click="delete($event, password.id, password.name)">
	                <md-icon><i class="material-icons md-24">delete</i></md-icon>
	            </md-button>
	        </div>
	    </md-toolbar>

	    <md-toolbar class="pw-wrapper--content--list md-accent md-hue-2">
		    <md-list>
		      	<md-list-item class="md-3-line">        
			        <div class="md-list-item-text" layout="column">

						<div class="item">
				          	<label>Userame:</label>
							<div class="input-group">		      
						      <input type="text" class="form-control input-field" value="{{password.username}}">
						      <span class="input-group-btn">
						        <button class="btn btn-default copy" title="Copy" clipboard text="password.username" on-copied="success()" on-error="fail(err)"><i class="fa fa-files-o"></i></button>
						      </span>
						    </div><!-- /input-group -->
						</div><!-- /item -->

						<div class="item">
						    <label>Password:</label>
							<div class="input-group">		      
						      <input type="password" class="form-control input-field" value="{{password.password}}">
						      <span class="input-group-btn">
						        <button class="btn btn-default copy" title="Copy" clipboard text="password.password" on-copied="success()" on-error="fail(err)"><i class="fa fa-files-o"></i></button>
						      </span>
						    </div><!-- /input-group -->
						</div><!-- /item -->

						<div class="item">
						    <label>Notes:</label>
							<div class="input-group">		      
						      <input type="text" class="form-control input-field" value="{{password.notes}}">
						      <span class="input-group-btn">
						        <button class="btn btn-default copy" title="Copy" clipboard text="password.notes" on-copied="success()" on-error="fail(err)"><i class="fa fa-files-o"></i></button>
						      </span>
						    </div><!-- /input-group -->
						</div><!-- /item -->

			        </div>
		      	</md-list-item>
		      
		    </md-list>
	    </md-toolbar>
    </md-content>

</div>
